name: Test1
databaseName: /home/uwe/development/datagenerator2/generateddata.duckdb
tableName: generateddata
fields:
  - name: date.fulldate
    type: randomdate
    options:
      minYear: 2023
      maxYear: 2023
      dateFormat: yyyy-MM-dd
  - name: date.year
    type: datereference
    options:
      reference: date.fulldate
      dateFormat: YYYY
  - name: date.month
    type: datereference
    options:
      reference: date.fulldate
      dateFormat: MM
  - name: date.dayofmonth
    type: datereference
    options:
      reference: date.fulldate
      dateFormat: dd
  - name: date.dayofweek
    type: datereference
    options:
      reference: date.fulldate
      dateFormat: EEEE
  - name: person.firstname
    type: category
    valuesFile: /home/uwe/development/datagenerator2/categories/firstname.category
  - name: person.lastname
    type: category
    valuesFile: /home/uwe/development/datagenerator2/categories/lastname.category
  - name: person.address.city.name
    type: category
    valuesFile: /home/uwe/development/datagenerator2/categories/city.category
  - name: person.address.street.name
    type: category
    valuesFile: /home/uwe/development/datagenerator2/categories/street.category
  - name: person.address.street.number
    type: randomlong
    options:
      minValue: 1
      maxValue: 300
